.certificate-card {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px -15px;
  padding: 1.5rem;
  border-radius: 10px;
  border: 1px solid rgba(211, 211, 211, 0.397);
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.certificate-card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 40px -15px;
  transform: translateY(-5px);
}

.certificate-detail-div {
  text-align: left;
}

.card-title {
  color: #000000;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.card-subtitle {
  color: #666666;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  font-style: italic;
}

.card-description {
  color: #444444;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.card-date {
  color: #666666;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  text-align: right;
}

.achievement-cards-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem 1rem;
  padding: 20px;
}
